@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NanumSquare';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.ttf) format("truetype");
    font-display: swap;
}
html {
    /* font-family: 'Noto Sans KR'; */
    /* font-family: 'Nanum Gothic'; */
    /* font-family: 'NanumSquareNeo'; */
    font-family: 'NanumSquare';
}